@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Магазин компьютерной техники</title>
</head>
<body>
    <div>
        <h3>Распродажа компьютерной техники</h3>
        <table>
            <tr>
                <td><p>№</p></td>
                <td><p>Тип</p></td>
                <td><p>Производитель</p></td>
                <td><p>Модель</p></td>
                <td><p>Цена</p></td>
                <td><p>Статус</p></td>
                <td></td>
            </tr>
            @{int i = 0;
                foreach (var b in ViewBag.Lol)
                {
                    <tr>
                        <td><p>@i</p></td>
                        <td><p>@b.GetType()</p></td>
                        <td><p>@b.Company</p></td>
                        <td><p>@b.Model</p></td>
                        <td><p>@b.Price</p></td>
                        <td><p>@b.GetStatus()</p></td>
                        <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                    </tr>
                    i++;
                }
            }
        </table>
    </div>
</body>
</html>