
@{
    ViewBag.Title = "Заявки на покупку";
    Layout = "~/Views/Shared/_LayoutShop.cshtml";
}
<br />
<br />
<div class="row">
    <div class="col-lg-6">
        <h2>Заявки на покупку</h2>
    </div>
    <div class="col-lg-6">
    </div>
</div>

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>#</th>

            <th>Тип оперции</th>
            <th>Пункт назначения</th>
            <th>Время</th>

            <th>Тип</th>
            <th>Производитель</th>
            <th>Модель</th>
            <th>Цена</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        @{int i = 1;
            foreach (ComputerShop.Models.OperationEquipment d in ViewBag.PurchaseRequisition)
            {
                <tr>
                    <td>@i</td>

                    <td>@d.Operation.GetOperationTypeString()</td>
                    <td>@d.Operation.Destination</td>
                    <td>@d.Operation.Time</td>

                    <td>@d.Equipment.GetType()</td>
                    <td>@d.Equipment.Company</td>
                    <td>@d.Equipment.Model</td>
                    <td>@d.Equipment.Price</td>
                    <td>@d.Equipment.GetStatus()</td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>



